*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #424249;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../public/fonts/Orbitron.otf');
}

html,
body {
  min-width: 980px;
  font-family: Orbitron !important;
  text-rendering: optimizeLegibility;
  transition: color 0.5s, background-color 0.5s;
  -webkit-text-size-adjust: none;
  background: #1b1c1d !important;
}

.disabled {
  cursor: not-allowed !important;
  filter: grayscale(100%) !important;
  filter: gray !important;
}

.wallet-adapter-button {
  font-family: Orbitron !important;
  padding: 0px 16px !important;
  height: 2.5rem !important;
  line-height: 2.5rem !important;
}
.wallet-adapter-button-trigger {
  background: #2828b2 !important;
}
.wallet-adapter-modal-title,
.wallet-adapter-dropdown-list {
  font-family: Orbitron !important;
}

.chakra-modal__content {
  background: #2c2e2f !important;
}

.AppHeader {
  min-width: 980px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  z-index: 99;
  background: #1b1c1d;
  .titlebox {
    height: 100%;
    display: flex;
    align-items: center;
    .logo {
      width: auto;
      height: 40px;
    }
    a {
      margin-left: 10px;
      font-family: Orbitron;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      &.active {
        text-decoration: underline;
      }
    }
  }
  .selectnetwork {
    display: flex;
    align-items: center;
    .chakra-button {
      margin-right: 10px;
      font-size: 16px;
    }
  }
}

.AppBody {
  min-width: 980px;
  min-height: calc(100vh - 5px);
  width: 100%;
  padding: 60px 0 20px;
  overflow-y: auto;
  position: relative;
}
.s-section {
  width: calc(100% - 5px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.stages {
  width: fit-content;
  margin: 20px auto;
  display: flex;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    background: #2c2e2f;
    font-family: Orbitron;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin: 0 10px;
    position: relative;
  }
}

.border_angular {
  width: 10px;
  height: 10px;
  position: absolute;
  transition: all 0.5s;
  &.angular1 {
    top: 0;
    left: 0;
  }
  &.angular2 {
    top: 0;
    right: 0;
  }
  &.angular3 {
    bottom: 0;
    left: 0;
  }
  &.angular4 {
    bottom: 0;
    right: 0;
  }
}

.page_title {
  font-family: Orbitron;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin: 20px 0;
}

.rowbox {
  width: 600px;
  background: rgba(124, 128, 131, 0.3);
  margin: 0 auto;
  padding: 20px;
  position: relative;
  .title {
    font-family: Orbitron;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
  }
  .text {
    font-family: Orbitron;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    .green {
      color: green;
    }
    .red {
      color: red;
    }
  }
  .chakra-input {
    font-size: 14px;
  }

  .chakra-button {
    margin: 10px 0;
  }
}
.stages2 {
  width: fit-content;
  margin: 0 auto;
  background: #2e3031;
  border-radius: 4px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      font-family: Orbitron;
      font-size: 18px;
      font-weight: 500;
      color: #8c8c8c;
      margin: 0 10px;
      &.active {
        color: #fff;
      }
    }
  }
}

.syncbox {
  width: 100%;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  .videobox {
    width: 100%;
    video {
      width: 100%;
      height: auto;
    }
  }
  .imgbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .changeimg {
      width: 50px;
      height: 50px;
      margin: 0 30px;
      &.changeimg_ {
        transform: rotate(180deg);
      }
    }

    .imgbox_ {
      position: relative;
      .network {
        width: 100%;
        height: 100%;
        font-family: Orbitron;
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        padding: 10px;
        background: rgba(0, 0, 0, 0.5);
      }
    }

    .chip {
      width: 150px;
      height: auto;
      &.chip_ {
        opacity: 0.5;
      }
    }
  }
}

.nftboxlist {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  .changeimg {
    width: 50px;
    height: 50px;
    margin: 0 30px;
  }
}

.nftbox {
  text-align: center;
  .nft {
    width: fit-content;
    height: fit-content;
    margin: 0 auto 10px;
    position: relative;
    padding: 6px 3px;
    border-radius: 5px;
    overflow: hidden;
    &.active {
      &::after {
        background: url('/images/nftborder2.png') no-repeat;
        background-size: 100% 100%;
      }
    }
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background: url('/images/nftborder.png') no-repeat;
      background-size: 100% 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    .network {
      width: 100%;
      height: 100%;
      text-align: left;
      padding: 10px;
      font-family: Orbitron;
      font-size: 12px;
      font-weight: 400;
      color: #fff;
      position: absolute;
      left: 0;
      top: 0;
    }
    .nftimg {
      width: 180px;
      height: 180px;
    }
  }
  .name {
    font-family: Orbitron;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
  }
  .symbol,
  .description {
    font-family: Orbitron;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }
  .level {
    font-family: Orbitron;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    .lock {
      font-size: 24px;
      margin-left: 20px;
    }
    &.active {
      color: #3fd2ffba;
    }
  }
}
.linkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  a {
    margin: 0 20px;
    font-family: Orbitron;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-decoration: underline;
  }
}

@media screen and (max-width: 750px) {
}
